:root {
    --gray-400-color: #495057;
    --gray-500-color: #343A40;
    --light-gray-color: #D8DFE8;
    --primary-color: #0A3871;
    --hover-primary-color: #092d59;
    --hover-light-gray-color: #c0c6ce;
}